<div class="wrapper">


    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <!-- ↓枠定義 card-diary　-->
                    <div class="card" style="width: 30rem;">
                     <!-- <div class="card card-diary" style="width: 30rem;"> -->
                        <h3 class="title">家　計　簿 ver220213</h3>

                        <form class="register-form" #registerForm="ngForm" (ngSubmit)="register(registerForm)">
                            <div>
                                <label>日付</label>
                                <div class="input-group form-group-no-border">
                                    <input 
                                        ngModel 
                                        name="p_date" 
                                        type="date" 
                                        class="form-control" 
                                        pattern="^(?!([02468][1235679]|[13579][01345789])000229)(([0-9]{4}(01|03|05|07|08|10|12)(0[1-9]|[12][0-9]|3[01]))|([0-9]{4}(04|06|09|11)(0[1-9]|[12][0-9]|30))|([0-9]{4}02(0[1-9]|1[0-9]|2[0-8]))|([0-9]{2}([02468][048]|[13579][26])0229))$"
                                        placeholder="日付"
                                        required 
                                    />
                                </div>
                                <button  class="btn btn-danger btn-block btn-round" (click)="Serch(registerForm)"
                                type="submit">検索</button>
                            </div>    


                            <label>予定情報</label>
                            <div class="input-group ">
                                <textarea 
                                    ngModel name="yotei_data" 
                                    type="text" 
                                    class="form-control" 
                                    aria-label="With textarea"
                                    placeholder="予定情報"

                                    required 
                                ></textarea>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label>起床時間</label>
                                    <div class="input-group form-group-no-border">
                                        <input 
                                            ngModel name="wake_time" 
                                            type="time" 
                                            class="form-control" 
                                            placeholder="起床時間"
                                            required 
                                        />
                                    </div>
                                </div>
                                <div class="col">
                                    <label>就寝時間</label>
                                    <div class="input-group form-group-no-border">
                                        <input 
                                            ngModel name="sleep_time" 
                                            type="time" 
                                            class="form-control" 
                                            placeholder="就寝時間"
                                            required 
                                        />
                                    </div>

                                </div>
                                <div class="col">
                                    <label>勤務開始</label>
                                    <div class="input-group form-group-no-border">
                                        <input 
                                            ngModel name="bz_startTime" 
                                            type="time" 
                                            class="form-control" 
                                            placeholder="勤務開始"
                                            required 
                                        />
                                    </div>

                                </div>
                                <div class="col">
                                    <label>勤務終了</label>
                                    <div class="input-group form-group-no-border">
                                        <input 
                                            ngModel name="bz_endTime" 
                                            type="time" 
                                            class="form-control" 
                                            placeholder="勤務終了"
                                            required 
                                        />
                                    </div>

                                </div>
                            </div>


                            <label>日記</label>
                            <div class="input-group ">
                                <textarea 
                                    ngModel name="diary_data" 
                                    type="text" 
                                    class="form-control" 
                                    aria-label="With textarea"
                                    placeholder="日記"
                                    required 
                                ></textarea>
                            </div>



                            <!--  -->
                            <label>出金簿</label>
                            <table class="table">
                                <thead>
                                <tr><th>時刻</th><th>科目</th><th>詳細</th><th>その他</th><th>支払方法</th><th>金額</th></tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let kekeibo of kakeibos">
                                    <td>
                                        <div class="col">
                                            <div class="input-group form-group-no-border">
                                                <input 
                                                    ngModel 
                                                    name="time"
                                                    type="time" 
                                                    class="form-control" 
                                                    placeholder="家計簿時刻"
                                                    required 
                                                />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col">
                                            <div class="input-group form-group-no-border">
                                                <input 
                                                    ngModel 
                                                    name="kamoku"
                                                    type="text" 
                                                    class="form-control" 
                                                    placeholder="家計簿科目"
                                                    required 
                                                />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col">
                                            <div class="input-group form-group-no-border">
                                                <input 
                                                    ngModel 
                                                    name="detail"
                                                    type="text" 
                                                    class="form-control" 
                                                    placeholder="家計簿詳細"
                                                    required 
                                                />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col">
                                            <div class="input-group form-group-no-border">
                                                <input 
                                                    ngModel 
                                                    name="etc"
                                                    type="text" 
                                                    class="form-control" 
                                                    placeholder="家計簿その他"
                                                    required 
                                                />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col">
                                            <div class="input-group form-group-no-border">
                                                <input 
                                                    ngModel 
                                                    name="payKbn"
                                                    type="text" 
                                                    class="form-control" 
                                                    placeholder="家計簿支払区分"
                                                    required 
                                                />
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col">
                                            <div class="input-group form-group-no-border">
                                                <input 
                                                    ngModel 
                                                    name="kingaku"
                                                    type="number" 
                                                    class="form-control" 
                                                    placeholder="家計簿金額"
                                                    required 
                                                />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--  -->

                            <!--  -->
                            <label>スキル簿</label>
                            <table class="table">
                                <thead>
                                <tr><th>時刻</th><th>区分</th><th>内容</th></tr>
                                </thead>
                                <tbody>
                                <tr >
                                <!-- <tr *ngFor="let member of members"> -->
                                    <td>19:30</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- 一旦コメント  -->
                           <button  class="btn btn-danger btn-block btn-round"
                                type="submit">登録</button>
                        </form>
                        <br />
                        <div *ngIf="errors && errors.length>0" class="alert alert-danger">
                            <p *ngFor="let error of errors">{{ error.detail }}</p>
                        </div>
                        <div class="forgot">
                            <a [routerLink]="['/login']" class="btn btn-link btn-danger">ログインはこちら</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>